html {

}

body {
	

	 font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
background-color: #90Af90;
}


/* APPLIES TO INTRO PAGE ONLY */
.non-map-page
{
background: url(../images/piedmont-watercolor.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:1028px;
  overflow-y:auto;
  }
  

.splash-text
{
	margin-top:90px;
	margin-bottom:50px;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	max-width: 725px;
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(240,240,240,.8);
	padding: 10px 25px 25px 25px;
}

.splash-text p
  {
   text-shadow: 0 0 0.1em #FFF;   
   font-size:1.25em;
  }
  
.splash-text h1
{
    margin-bottom:10px;
	text-align:center;
	font-weight:bold;
   text-shadow: 0 0 0.1em #FFF;  
}

/* APPLIES TO MAP PAGE */
#header-logo {
	margin-right: -2px;
	margin-top: 38px;
	float: right;
}
select {
	font-size: 14px;
	line-height: 17px;
	width: 160px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: #f8f8f8;
	color: rgb(26,96,86);
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	float: left;
}
option:hover {
	background-color: #AAAAAA;
}


#map-canvas {
	width: 100%;
	min-height: 500px;
	position:absolute;
	left:0px;
	border-top: 2px solid #777;
	border-bottom: 2px solid #777;
	border-right: 1px solid #777;
	border-left: 1px solid #777;
	z-index: 500;
	height:80%;
}

#map-links {
	color: #000;
	position: absolute;
	z-index: 505;
	top: 0px;
	right: 40px;
	font-size: 14px;
	background: #fff;
	opacity: .9;
	padding-right: 10px;
	padding-left: 10px;
}
#map-title {
    font-family:'Open Sans',Helvetica,Arial,sans-serif;
	position: absolute;
	z-index: 505;
	top: 0px;
	height:38px;
	left: 2px;
	padding-left:5px;
	padding-top:2px;
	font-size: 13px;
	background: #fff;
	color: rgb(26,96,86);
}

#in-map {

	position: absolute;
	z-index: 505;
	top:-6px;
	min-width: 220px;
	width:22%;
	height:101%;
	min-height: 510px;
	left: 0px;
	color: #000;
	background-color:#fff;
	border-right:solid 1px #666;
}

#in-map a {
	text-decoration: none;
	color: rgb(40, 120, 52);
}

#in-map-description {
	z-index: 555;
	position: absolute;
	font-size: .95em;
	overflow-y: auto;
	min-width: 300px;
	width: 22%;
	height: 100%;
	right: 0px;
	top: 0px;
	background-color: #fff;
	color: #000;
	border-left: solid 1px #666;
	opacity: .9;
	padding: 10px;
}

.close-button 
{
font-size: 18px;
		line-height: .5;
		position: absolute;
		
		top: 13px;
		right: 11px;
		color: #555;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		}

#tagline {
	font-size: 15px;
}

#projecttext {
	font-size: 10px;
}
#projectlink {
	font-size: 10px;
	text-decoration: none;
}

#main {
	clear: both;
	padding-top: 10px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	color: #fff;
	z-index: 200;
}

.map-nav {
	color: #fff;
	z-index: 506;
	padding-top:10px;
	padding-bottom:10px;
	background: #FFCF1F;
}

#nav-label-top {
	font-size: 12px;
	padding-bottom: 5px;
	padding-left: 30px;
}

.nav-label {
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.navsentence {
	float: left;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
	color: #000;
}
.navlinks {
	
}

.navlinks a {
	color: #FFFA12;
	text-decoration: none;
	font-weight: bold;
}

.navlinks a:hover {
	color: #d2aa52;
	text-decoration: none;
}

#nav-column-first {
	float: left;
	width: 130px;
	padding-left: 10px;
}

#nav-column {
	float: left;
	width: 200px;
}
#nav-column-last {
	float: left;
	padding-left: 30px;
	width: 180px;
}
#main-content {
	color: #000;
	float: left;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	background-color: #cec;
	background-url: http ://api.thumbr.it/whitenoise-361x370.png?background=#cceeccff&noise=cccacc&density=29&opacity=41;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
	-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 620px;
}

#results {
	float: left;
	height: 100%;
	overflow-y: auto;
	padding-left: 5px;
	padding-top:10px;
	margin-top:5px;
	
}
#under-results {
	float: left;
	padding-left: 5px;
	padding-top: 5px;
	z-index: 555;
	background-color: #fff;
	margin-bottom: 5px;
	opacity: .9;
}

.name {
	text-decoration: none;
	font-family:'Open Sans',Helvetica,Arial,sans-serif;
	padding-left: 3px;
	padding-down: 3px;
	padding-up: 3px;
	padding-right: 10px;
	
}

.name a:visited {
	text-decoration: none;
}
.name a:active {
	text-decoration: none;
}
.name:hover {
	color:#489854;
}

